## Korte opdrachten: repareer de errors

### Probleem 1
Ik wil rekenen met een normaalverdeling maar ik krijg een `norm not defined` error?

In [22]:
from scipy.stats import norm

norm.cdf(160,170,7)

0.07656372550983474

### Probleem 2
Ik wil een lijst van dictionaries maken, maar ik heb een syntaxfout gemaakt. Waar zit ie?

In [23]:
data = [
        {
        "class": "1A",
        "average_students_present": 12,
        "time": "1.30PM"
        }, 
        {"class": "1D",
        "average_students_present": 8,
        "time": "9AM"
        }
    ]

### Probleem 3
Ik wil alle waardes uit mijn lijst van dictionaries printen, maar er is wat aan de hand, de code snapt niet dat er een key-value pair is.

In [24]:
for classes in data:
    for key, value in classes.items():
        print(value)

1A
12
1.30PM
1D
8
9AM

### Probleem 4
Ik heb een class gemaakt, maar er zijn meerdere dingen die niet kloppen. Zorg ervoor dat het dit print: 

Pepper

8 jaar oud

Pepper (kat) slaapt liever.

Salt (kat) is lekker aan het spelen!

Salt is aan het eten! Omnomnom!

In [25]:
# deze is wat groter, meerdere dingen kloppen niet, doe het error voor error!

class Huisdier:
    def __init__(self, naam, leeftijd, soort='kat'):
        self.naam = naam
        self.leeftijd = leeftijd
        self.soort = soort
    
    def spelen(self):
        if self.soort == "kat":
            if self.leeftijd < 6:
                return f"{self.naam} ({self.soort}) is lekker aan het spelen!"
            else:
                return f"{self.naam} ({self.soort}) slaapt liever."
        else:
            return f"{self.naam} is aan het spelen."
        
    def eten(self):
        return f"{self.naam} is aan het eten! Omnomnom!"
    
salt = Huisdier("Salt", 1.5, "kat")
pepper = Huisdier("Pepper", 8)

print(pepper.naam)
print(pepper.leeftijd, "jaar oud")
print(pepper.spelen())
print()
print(salt.spelen())
print(salt.eten())

Pepper
8 jaar oud
Pepper (kat) slaapt liever.

Salt (kat) is lekker aan het spelen!
Salt is aan het eten! Omnomnom!

## Werken met Pandas en de dataset df_data hierboven - scavenger hunt! 
Het doel is, is dat je de dataset gaat verkennen met pandas.
Eerst ga je de opgaven zelf maken, aan het einde wordt een mentimeter geopend, en kan je de antwoorden in gaan vullen. Elke keer zullen we het antwoord nabespreken.

In [26]:
# csv inladen.
# brightspace: NetflixMovies_Les5.csv, zet het in hetzelfde mapje als deze file

import pandas as pd

data = pd.read_csv("NetflixMovies.csv")
movies_df = pd.DataFrame(data).drop("Unnamed: 0", axis=1)
movies_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

### Opdrachten Netflix Movies

1. Wat is de titel van de film met de langste duration?
2. Wie is de director van de film "Her"?
3. Wie is de director van de film met de op 9 na (dus 10e plek) korste duration?
4. Hoeveel films heeft Dennis Dugan geregisseerd (director)?
5. Hoeveel films zijn er in Nederland gefilmd?
6. Uitdaging: in hoeveel films heeft Adam Sandler de hoofdrol (als eerste genoemd in de 'cast')?
7. In welk jaar werden de meeste films uitgebracht?
8. Van dat jaar (antwoord op vraag 7), welke director komt daar het vaakst voor?

In [33]:
# 1. langste film titel
longest_movie = movies_df[movies_df["duration"] == movies_df["duration"].max()]
longest_movie["title"]

1287    The School of Mischief
Name: title, dtype: object

In [35]:
# 2. director van 'Her'
her = movies_df[movies_df['title'] == 'Her']
her['director']

3905    Spike Jonze
Name: director, dtype: object

In [46]:
# 3. Wie is de director van de film met de op 9 na (dus 10e plek) korste duration?
tenth_shortest_film = movies_df.sort_values('duration').iloc[[9]]
tenth_shortest_film

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1768,s3367,Movie,Little Miss Sumo,Matt Kay,Hiyori Kon,United Kingdom,"October 28, 2019",2018,TV-G,20,"Documentaries, International Movies, Sports Mo...",In an ancient sport traditionally reserved for...

In [54]:
# 4. Hoeveel films heeft Dennis Dugan geregisseerd (director)?
len(movies_df[movies_df['director'].str.contains('Dennis Dugan')])

4

In [56]:
# 5. Hoeveel films zijn er in Nederland gefilmd?
len(movies_df[movies_df['country'].str.contains('Netherlands')])

35

In [57]:
# 6. Uitdaging: in hoeveel films heeft Adam Sandler de hoofdrol (als eerste genoemd in de 'cast')?
len(movies_df[movies_df['cast'].str.startswith('Adam Sandler')])

20

In [110]:
# 7. In welk jaar werden de meeste films uitgebracht?
# ask for feedback - this seems like a weird way to do this. What would be better?
# movies_df.head()
movies_df['release_year'].value_counts().iloc[[0]] 
# returns:
# year
# 2017 640
movies_df['release_year'].mode()[0] 
# returns:
# 2017

2017

In [109]:
# 8. Van dat jaar (antwoord op vraag 7), welke director komt daar het vaakst voor?
movies_df[movies_df['release_year'] == 2017]['director'].value_counts().iloc[[0]]
# returns:
# director
# Marcus Raboy    6

movies_df[movies_df['release_year'] == 2017]['director'].mode()[0]
# returns:
# 'Marcus Raboy'

'Marcus Raboy'